---
layout: layouts/base.ejs
---

<article class="post">
  <header>
    <h1 class="font-bold text-3xl"><%= title %></h1>
    <div class="text-gray-600">
      <%= this.dateFns.format(new Date(date), 'LLLL d, yyyy') %>
    </div>
  </header>
  <section class="pt-3 pb-3">
    <%- content %>
  </section>
  <footer>
    <a href="/">Back to home</a>
  </footer>
</article>
